.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #fff;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.container {
  max-width: 50vw;
}

.section {
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.heading {
  max-width: 70vw;
  margin-top: 5px;
  font-family: Exo, sans-serif;
  color: #000;
  font-size: 20vh;
  line-height: 17.6vh;
  font-weight: 400;
}

.container-2 {
  padding-right: 5vw;
  padding-left: 5vw;
}

.button {
  border-style: solid;
  border-width: 1px;
  border-color: #404953;
  border-radius: 10px;
  background-color: #f6fbff;
  color: #404953;
  cursor: pointer;
}

.button:hover {
  border-style: solid;
  border-color: #83aec2;
  background-color: #83aec2;
  color: #fff;
}

.button.submit {
  background-color: #f6fbff;
}

.button.submit:hover {
  background-color: #83aec2;
}

.button.offwhite {
  background-color: #f6fbff;
}

.button.offwhite:hover {
  background-color: #83aec2;
}

.navbar {
  position: static;
  display: block;
  width: 100%;
  height: auto;
  padding: 0vh 5vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: #f6fbff;
  color: #28323a;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px none #000;
  box-shadow: none;
}

.brand:hover {
  border-bottom-style: none;
  box-shadow: none;
}

.brand.w--current {
  box-shadow: none;
}

.brand.w--current:hover {
  box-shadow: none;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4vh;
  padding-top: 4vh;
  padding-bottom: 2vh;
  float: right;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-nav {
  display: none;
  margin-right: 10px;
  margin-left: 10px;
  padding: 0px 0px 5px;
  box-shadow: none;
  -webkit-transition: color 200ms ease, box-shadow 200ms ease;
  transition: color 200ms ease, box-shadow 200ms ease;
  color: grey;
  font-size: 16px;
  font-weight: 400;
}

.link-nav:hover {
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.5);
  color: #000;
}

.link-nav.w--current {
  display: none;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.5);
  color: #000;
}

.link-nav.doctemp {
  display: block;
}

.hero {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 90vh;
  padding-bottom: 10vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.arrow {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin: 50px auto 40px;
}

.wrapper-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-right: 0vw;
  margin-left: 0vw;
  padding-right: 5vw;
  padding-left: 5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

._w-h1 {
  position: relative;
  overflow: hidden;
  padding-right: 0vw;
}

.main-h1 {
  position: relative;
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  color: #000;
  font-size: 14vh;
  line-height: 16vh;
  font-weight: 400;
}

.main-h1.home {
  font-family: Exo, sans-serif;
  font-size: 20vh;
  line-height: 17.6vh;
}

.home-subhead {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  margin-top: 30px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph {
  min-width: 70vw;
  font-size: 18px;
  line-height: 32px;
}

.main-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.body {
  background-color: #f6fbff;
  font-family: Montserrat, sans-serif;
  color: #000;
}

.feature-section {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.flex-container {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-image-mask {
  width: 100%;
  margin-right: 40px;
}

.feature-image {
  width: 100%;
  height: 100%;
  min-width: 50%;
  border-radius: 20px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.section-2 {
  min-height: 100vh;
}

.heading-2 {
  min-width: 100vw;
}

.section-3 {
  margin-bottom: 10vh;
}

.container-3 {
  padding-left: 5vw;
}

.section-4 {
  position: relative;
  min-height: 100vh;
  padding: 10vh 0px 0px;
  background-color: #fff;
  text-align: center;
}

.section-title-group {
  margin-bottom: 60px;
}

.section-heading {
  margin-top: 0px;
  margin-bottom: 16px;
}

.section-heading.centered {
  color: #404953;
  font-size: 60px;
  line-height: 72px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section-subheading.center {
  color: #404953;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.white-box {
  padding: 15px;
  border: 1px solid #dcebf7;
  border-radius: 5px;
  background-color: #f6fbff;
  text-align: center;
}

.grid-image {
  display: block;
  width: 35%;
  margin: 20px auto;
  padding: 20px;
  border: 10px solid #fff;
  border-radius: 50%;
  background-color: #83aec2;
  box-shadow: 0 0 0 1px #789bad;
  color: #404953;
}

.hero-2 {
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f6fbff;
  color: #fff;
}

.flex-container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-image-mask {
  width: 100%;
  margin-left: 40px;
}

.hero-image {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.heading-3 {
  font-weight: 500;
}

.text-block {
  color: grey;
}

.heading-4 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #404953;
  font-size: 18vh;
  line-height: 18vh;
  font-weight: 400;
  text-align: center;
}

.paragraph-2 {
  padding-top: 30px;
  color: #404953;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}

.div-block {
  min-width: 100%;
}

.section-5 {
  position: relative;
  display: none;
  padding: 80px 10px;
  background-color: #f6fbff;
  color: #404953;
  text-align: center;
}

.footer {
  display: none;
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #404953;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 140px;
  height: 140px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #83aec2;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #eeede9;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.contact-form {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f6fbff;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-2 {
  display: block;
  padding-top: 40px;
  text-align: center;
}

.section-6 {
  display: none;
  min-height: 70vh;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #83aec2;
  color: #fff;
}

.block-quote {
  font-size: 36px;
  line-height: 44px;
}

.block-quote-2 {
  font-size: 36px;
  line-height: 44px;
}

.text-block-2 {
  color: #eeede9;
}

.body-2 {
  font-family: Montserrat, sans-serif;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.feature-section-2 {
  display: none;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f6fbff;
  color: #b6dafc;
}

.flex-container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-3 {
  min-width: 50%;
  text-align: left;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.body-3 {
  background-color: #f6fbff;
  font-family: Montserrat, sans-serif;
}

.grid {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.heading-5 {
  font-size: 76px;
  line-height: 88px;
}

.edu-heading {
  font-size: 76px;
  line-height: 88px;
}

.team-title {
  margin-bottom: 7px;
}

.section-7 {
  display: none;
  padding-top: 69px;
  padding-bottom: 69px;
  background-color: #f6fbff;
  color: #404953;
  text-align: center;
}

.team-image {
  margin-bottom: 21px;
  border-radius: 100%;
}

.divider {
  display: block;
  width: 80px;
  height: 2px;
  margin: 28px auto;
  background-color: #fff;
}

.divider.grey {
  margin-bottom: 43px;
  background-color: rgba(0, 0, 0, 0.09);
}

.social-link {
  width: 29px;
  height: 29px;
  margin: 3px;
  padding-top: 5px;
  padding-left: 1px;
  border-radius: 100%;
  background-color: #eeede9;
  box-shadow: inset 0 0 0 1px transparent;
  -webkit-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
  cursor: pointer;
}

.social-link:hover {
  box-shadow: inset 0 0 0 2px #7ec4bd;
}

.team-row {
  margin-bottom: 20px;
}

.role {
  margin-bottom: 16px;
  font-family: Vollkorn, serif;
  font-size: 17px;
  font-style: italic;
}

.body-4 {
  background-color: #f6fbff;
  font-family: Montserrat, sans-serif;
}

.section-8 {
  display: none;
  min-height: 70vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #83aec2;
  color: #404953;
}

.heading-6 {
  font-weight: 300;
}

.heading-6.nav-link {
  border-radius: 1px;
  cursor: pointer;
}

.heading-6.nav-link:hover {
  color: #eeede9;
}

.div-block-4 {
  min-width: 50%;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.heading-7 {
  padding-top: 40px;
}

.paragraph-3 {
  font-size: 28px;
  line-height: 40px;
}

.heading-8 {
  cursor: default;
}

.text-field {
  background-color: #f6fbff;
}

.image {
  overflow: visible;
  max-width: 70%;
}

.heading-9 {
  color: #404953;
}

.container-5 {
  display: none;
}

@media screen and (max-width: 991px) {
  .hero {
    padding-left: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .wrapper-title {
    width: 100vw;
  }

  .main-h1 {
    font-size: 84px;
    line-height: 80px;
  }

  .main-h1.home {
    font-size: 18vh;
    line-height: 15vh;
  }

  .home-subhead {
    width: 50vw;
  }

  .grid-image {
    width: 50%;
    padding: 15px;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .navbar {
    display: block;
    padding-top: 5vh;
    padding-right: 5vw;
    padding-left: 5vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .brand {
    height: auto;
  }

  .brand.w--current {
    height: auto;
    margin-bottom: 0px;
  }

  .nav-menu {
    padding-top: 0vh;
    padding-bottom: 0vh;
  }

  .main-content {
    padding: 40px 20px;
  }

  .feature-section {
    padding: 40px 20px;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-image-mask {
    margin-right: 0px;
  }

  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }

  .white-box {
    margin-bottom: 30px;
  }

  .grid-image {
    width: 20%;
    padding: 20px;
  }

  .hero-2 {
    padding: 40px 20px;
  }

  .flex-container-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero-image-mask {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .contact-form {
    padding: 40px 20px;
  }

  .feature-section-2 {
    padding: 40px 20px;
  }

  .flex-container-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section-7 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .member {
    padding-bottom: 47px;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .navbar {
    padding-top: 2vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .brand {
    width: 100%;
    height: 80px;
    padding-left: 0px;
    float: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .brand.w--current {
    height: 80px;
    padding-left: 0px;
    float: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .nav-menu {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .hero {
    padding-right: 40px;
    padding-left: 40px;
  }

  .main-h1 {
    font-size: 50px;
    line-height: 50px;
  }

  .main-h1.home {
    font-size: 8vh;
    line-height: 8vh;
  }

  .home-subhead {
    width: auto;
  }

  .section-subheading.center {
    line-height: 30px;
  }

  .grid-image {
    width: 35%;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }
}